<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="book"></ion-icon>
        Curiosidades
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div>
  <ion-row>
<h1>O que significa CEP?</h1>
  <ion-img class="pensamento" src="assets/icon/menina-pensando.png"></ion-img>
</ion-row>
<br>
<p>O CEP (Código de Endereçamento Postal) é um sistema de códigos que visa racionalizar o processo de 
  encaminhamento e entrega de correspondências através da divisão do país em regiões postais. 
  O Código de Endereçamento Postal brasileiro foi criado em 1972 e tinha apenas cinco dígitos. 
  Atualmente, o CEP é composto por oito dígitos, cinco de um lado e três de outro.</p>
  <p>Cada algarismo do CEP possui um significado. Da esquerda para a direita, os números indicam a região, 
    sub-região, setor, sub-setor, divisor de sub-setor e identificadores de distribuição 
    (três últimos algarismos). O Brasil  é dividido em dez regiões postais, que compõem o primeiro dos 
    números do CEP:</p>
    <br>
    <ion-img class="postagem" src="assets/icon/postagem.jpg"></ion-img>
    <br>
    <ul class="corpo">
      <li>Região 0 - Grande São Paulo;</li>
      <li>Região 1 - Interior de São Paulo;</li>
      <li>Região 2 - Rio de Janeiro e Espírito Santo;</li>
      <li>Região 3 - Minas Gerais;</li>
      <li>Região 4 - Bahia e Sergipe;</li>
      <li>Região 5 - Pernambuco, Alagoas, Paraíba e Rio Grande do Norte;</li>
      <li>Região 6 - Ceará, Piauí, Maranhão, Pará, Amazonas, Acre, Amapá e Roraima;</li>
      <li>Região 7 - Distrito Federal, Goiás, Tocantins, Mato Grosso, Mato Grosso do Sul e Rondônia;</li>
      <li>Região 8 - Paraná e Santa Catarina;</li>
      <li>Região 9 - Rio Grande do Sul.</li>
    </ul>    
    <br>
    <ion-img class="center" src="assets/icon/codigo-de-enderecamento-posta.jpg"></ion-img>
    <br>
    <a rel="stylesheet" href="https://mundoeducacao.bol.uol.com.br/curiosidades/o-que-significam-os-numeros-cep.htm">Fonte: Mundo Eduação</a>
    <br>
  </div>
</ion-content>
